.header {
  height: 70px;
  background-color:red;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  overflow: hidden;
}


.header_icon a{
    color: white;
    text-decoration: none;
    padding: 5px;
    white-space: nowrap;
    font-size: 16px;
    text-transform: uppercase;
}
.header_icon a:hover{
    color: black;
    
}
.header_icon {
    display: flex;
    align-items: center;
    
}
.head_input {
    position: relative;
    width: 100%;
}
.head_input .input input{
    outline: none;
    width: 92%;
    padding: 12px 12px;

}
.head_input .icon_search {
    position: absolute;
    right: 0;
    padding: 14px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
}
.head_input .icon_search:hover {
    background-color: rgba(0,0,0,0.1);
}
.header_icon-img {
    height: 120px;
    width: 100px;
  }
/* input */

/* account */
.account {
display: flex;
align-items: center;
}
.account .Link {
    padding: 12px;
    outline: none;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
}
.account .Link:hover {
    color: black;
    cursor: pointer;
}